* {
    font-family: 'Open Sans', sans-serif;
}

body {
    overflow-x: hidden;
}

.navLink {
    display: inline-block;
    list-style-type: none;
}

#banner {
    background-image: url('../img/bg/codeSnippet.jpg');
    height: 710px;
}

#banner h1,
#banner h3 {
    color: white;
}

#weddingPicture {
    height: auto;
    width: 700px;
}

.single-icon {
    font-size: 125px;
}
